.builder-wrapper {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: stretch;
}

.builder-header {
    height: 5vh;
}

.builder {
    height: 100%;
}

.ant-popover {
    z-index: 9999999;
}

.ant-form-item-label {
    padding: 0 !important;
}
.ant-form-item-label>label {
    margin: 0;
}

.ant-form-item {
    margin: 2px;
}
