.options-wrapper {
    width: 150px;
    height: 100%;
    background-color: white;
    /* border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(46, 46, 46); */
}

.editor-wrapper {
    min-width: 20vw;
    max-width: 20vw;
    /* border-left-width: 1px;
    border-left-style: solid;
    border-right-color: rgb(46, 46, 46); */
}


.canvas-wrapper {
    padding-top: 20px;
    width: 100%;
    overflow-y: auto;
}

.icon-container {
    text-align: center;
    background-color: white;
    padding: 0;
    margin: 0;
}

.canvas-wrapper .smooth-dnd-container {
    background-color: white;
    width: 590px;
    max-width: 590px;
    display: table;
    margin: 0 auto;
    margin-bottom: 7vh;
}

.view-radio-button {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.email-component:hover{
    cursor: grab;
}

.email-component:focus,
.email-component:active,
.is-dragging{
    cursor: grabbing !important;
}

.smooth-dnd-ghost{
    opacity: 0.8;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
}
