.image-padding-settings {
    width: 100%;
    display: inline-flex;
    padding: 10
}

.common-settings {
    padding-left: 10px;
}

.background-settings,
.padding-settings,
.size-settings {
    padding-bottom: 10px;
}

.editor-footer-btn-container {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.editor-footer-clone-btn:hover,
.editor-footer-clone-btn:active,
.editor-footer-clone-btn:focus {
    color: #18f018;
    border-color: #18f018;
}

.editor-footer-remove-btn:hover,
.editor-footer-remove-btn:active,
.editor-footer-remove-btn:focus {
    border-color: red;
    color: red
}

.canvas-select {
    padding: 0px 5px;
}

.canvas-select-asset-container {
    height: 78vh;
    overflow-y: scroll;
}

.canvas-select-card {
    display: block;
    margin-bottom: 10px;
}

.canvas-select-card {
    padding: 5px;
}

.canvas-select-card:hover {
    border-color: #1890ff;
}

.canvas-select-card.active {
    border-color: rgb(67, 233, 67);
}

.canvas-select-add-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.canvas-select-card-img {
    width: 200px;
}

.ant-card-body {
    padding: 10px 5px;
}

.ant-card-meta-title {
    word-wrap: break-word;
}
