.nav-container {
    width: inherit;
    padding: 0;
}

.logo {
    width: 100px;
    padding-right: 10px;
}

.logo img {
    width: 100px;
    margin: 0;
    padding: 0;
}

.steps-container {
    display: block
}

.nav-button-group{
    text-align: right;
    right: 10px;
}

.nav-button-group button {
    margin-right: 5px;
}
